body {
  background: #222;
}

.board {
  position: relative;
  margin: auto;
  border: 2px solid #777;
}

.board__axis {
  border: 1px solid #555;
  position: absolute;
}

.board__axis--y {
  left: 50%;
  width: 0;
  height: 100%;
}

.board__axis--x {
  top: 50%;
  width: 100%;
  height: 0;
}

.item {
  background-color: steelblue;
  cursor: move;
  border-radius: 4px;
  position: absolute;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: min-width 500ms;
  overflow: hidden;
  min-width: 0;
}

.item:hover {
  min-width: 300px;
}

.item--title {
  font-family: 'San Francisco', Helvetica, Arial, san-serif;
  color: #eee;
  padding: 5px 10px;
  min-width: 300px;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: min-width 500ms;
  overflow: hidden;
  min-width: 0;
}

.item--title:hover {
  min-width: 300px;
}
